doctype 5
html
  head(lang='en')
    meta(charset='UTF-8')
    title Flask React
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // styles
  body
    .container
      h1 Flask React
      br
      #content
    // scripts
