extends ./layout.jade
block BodyContent
  h3 Try This
  #playerBox

  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js')
  script(type='text/javascript', charset='utf-8').
    var id = Math.random().toString(36).substr(2,9);
    sessionStorage.setItem("id", id);
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
      socket.emit('start', id);
    });
    window.onbeforeunload = function () {
      socket.emit('close', id);
      return;
    };

  script(type="text/jsx" src="/static/scripts/reactModels.js")
  script(type="text/jsx").
    var RenderedPlayerBox = ReactDOM.render(
      <react.PlayerBox url="/submit_code" outputID="output" canvasID="mycanvas" playerID={sessionStorage.getItem("id")} />,
      document.getElementById('playerBox')
    );

    // On receive role designation, show starter code
    socket.on("role", function(role){
      RenderedPlayerBox.setRole(role); //Player 1 or Player 2
      RenderedPlayerBox.write([
        "#The game has started!",
        "#You are " + role,
        "#You have a clone of turtle called p"+role.charAt(7),
        "def play_turn(p"+role.charAt(7)+"):",
        "  "
      ].join("\n"));
    });

    // On receive targeted message containing turn code from server
    socket.on("code", function(full_code) {
      RenderedPlayerBox.run(full_code);
    });